<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> <%= title %> </title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="../scripts/admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="../scripts/admin-lte/bower_components/font-awesome/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="../scripts/admin-lte/bower_components/Ionicons/css/ionicons.min.css">
        <!-- DataTables -->
        <link rel="stylesheet" href="../scripts/admin-lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="../scripts/admin-lte/dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
                page. However, you can choose any other skin. Make sure you
                apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="../scripts/admin-lte/dist/css/skins/skin-blue.min.css">

        <!-- bootstrap datetimepicker -->
        <link rel="stylesheet" href="../scripts/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css">
        <link rel="stylesheet" href="../scripts/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
        <!-- bootstrap select -->
        <link rel="stylesheet" href="../scripts/bootstrap-select/dist/css/bootstrap-select.min.css">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
            
        <link rel="stylesheet" href="../stylesheets/home.css">
    </head>

    <body class="hold-transition skin-blue sidebar-mini">

        <div class="wrapper">

            <!-- 導覽列 -->
            <header class="main-header">
                <nav class="navbar navbar-static-top" role="navigation">
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="user user-menu">
                                <a>
                                    <span id="username" class="hidden-xs"></span>
                                </a>
                            </li>
                            <li>
                                <a href="/login" class="btn btn-success btn-flat">登出</a>
                            </li>
                        </ul>
                    </div>
                    
                </nav>
            </header>

            <!-- 側邊功能列 -->
            <aside class="main-sidebar">
                <div class="sidebar">
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">功能列</li>
                        <li class="active"><a id="watson-admin"><i class="fa fa-dashboard"></i><span>Watson Assistant後台管理</span></a></li>
                        <li ><a id="AI-training"><i class="fa fa-book"></i><span>AI訓練</span></a></li>
                        <li ><a id="AI-training-log"><i class="fa fa-table"></i><span>AI訓練明細</span></a></li>
                        <li ><a id="usage"><i class="fa fa-bar-chart"></i></i><span>花費</span></a></li>
                        <li ><a id="file-import"><i class="fa fa-upload"></i><span>表格匯入</span></a></li>
                    </ul>
                </div>
            </aside>

            <!-- 內容區塊 -->
            <div class="content-wrapper">
                <!-- 帳號層級區塊 -->
                <div>
                    <div class="form-group col-md-3">
                        <label for="org">組織:</label>
                        <select id="organization" class="form-control"></select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="space">空間:</label>
                        <select id="space" class="form-control"></select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="service">資料庫:</label>
                        <select id="service" class="form-control"></select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="watson assistant">Watson:</label>
                        <select id="watson-list" class="form-control"></select>
                    </div>
                </div>

                <!-- 功能頁面區塊 -->
                <div>
                    <!-- watson assistant管理頁面 -->
                    <div id="watson-admin-content" class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div id="watson-admin-body" class="box-body CSI-d-none">
                                        <div class="nav-tabs-custom">
                                            <ul id="workspace-list" class="nav nav-tabs"></ul>
                                            <div id="workspace-pane" class="tab-content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- AI訓練頁面 -->
                    <div id="AI-training-content" class="content CSI-d-none">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header with-border form-inline CSI-center">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <label for="startTime" class="sr-only">開始時間</label>
                                                <input class="form-control date-picker" type="text" id="start-time" placeholder="請選擇開始時間"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <label for="endTime" class="sr-only">結束時間</label>
                                                <input class="form-control date-picker" type="text" id="end-time" placeholder="請選擇結束時間"/>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="button" id="get-conversation-history">查詢</button>
                                    </div>
                                    <div id="AI-training-body" class="box-body CSI-d-none">
                                        <!-- <div class="row form-inline">
                                            <div class="col-md-12 CSI-time-input">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <label for="startTime" class="sr-only">開始時間</label>
                                                        <input class="form-control date-picker" type="text" id="start-time" placeholder="請選擇開始時間"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <label for="endTime" class="sr-only">結束時間</label>
                                                        <input class="form-control date-picker" type="text" id="end-time" placeholder="請選擇結束時間"/>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary" type="button" id="get-conversation-history">查詢</button>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row form-inline"> -->
                                            <div class="pull-right form-inline">
                                                <div class="form-group PSC CSI-block">
                                                    <label for="option">過濾條件:</label>
                                                    <div class="radio">
                                                        <label for="sentence" class="form-check-label">
                                                            <input type="radio" name="filter-unit" id="sentence" value="target-say" checked>
                                                            語句
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label for="intent" class="form-check-label">
                                                            <input type="radio" name="filter-unit" id="intent" value="currently-Intent">
                                                            意圖
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label for="confidenceLevel" class="form-check-label">
                                                            <input type="radio" name="filter-unit" id="confidenceLevel" value="confidence">
                                                            信心指數
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <select id="compare-operator" class="CSI-d-none form-control">
                                                        <option data-operation=">">></option>
                                                        <option data-operation="<"><</option>
                                                    </select>
                                                    <select id="confidence-level" class="CSI-d-none form-control">
                                                        <option data-level="0.3">0.3</option>
                                                        <option data-level="0.5">0.5</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputText" class="sr-only">請輸入文字</label>
                                                    <input type="text" class="form-control PSC CSI-input history-table-filter" data-table="watson-history-list" placeholder="請輸入"/>
                                                </div>
                                                <button class="btn btn-primary" id="filter-history" data-table="watson-history-list" type="button">過濾</button>
                                            </div>
                                        <!-- </div> -->
                                        <!-- <div class="row"> -->
                                            <!-- <div class="col-md-12"> -->
                                                <table id="watson-history-list" class="CSI-table table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>日期</th>
                                                                <th>工作區</th>
                                                                <th>語句</th>
                                                                <th>意圖</th>
                                                                <th>操作</th>
                                                            </tr>
                                                        </thead>
                                                    <tbody id="show-converstaion-history"></tbody>
                                                </table>
                                            <!-- </div> -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="edit-intent-modal" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" aria-label="關閉">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <select id="select-intent" class="form-control selectpicker" data-live-search="true" data-width="100%"></select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">關閉</button>
                                        <button type="button" id="edit-intent" class="btn btn-primary">修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- AI訓練明細 -->
                    <div id="AI-training-log-content" class="content CSI-d-none">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header with-border form-inline CSI-center">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <label for="startTime" class="sr-only">開始時間</label>
                                                <input class="form-control date-picker" type="text" id="training-log-start-time"  placeholder="請選擇開始時間"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <label for="endTime" class="sr-only">結束時間</label>
                                                <input class="form-control date-picker" type="text" id="training-log-end-time" placeholder="請選擇結束時間"/>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="button" id="get-training-log">查詢</button>
                                    </div>
                                    <div id="AI-training-log-body" class="box-body CSI-d-none">
                                        <!-- <div class="row form-inline">
                                            <div class="col-md-12 CSI-time-input">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <label for="startTime" class="sr-only">開始時間</label>
                                                        <input class="form-control date-picker" type="text" id="training-log-start-time"  placeholder="請選擇開始時間"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <label for="endTime" class="sr-only">結束時間</label>
                                                        <input class="form-control date-picker" type="text" id="training-log-end-time" placeholder="請選擇結束時間"/>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary" type="button" id="get-training-log">查詢</button>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row form-inline"> -->
                                            <div class="pull-right form-inline">
                                                <div class="form-group">
                                                    <label for="inputText" class="sr-only">請輸入文字</label>
                                                    <input type="text" class="form-control PSC CSI-input log-table-filter" data-table="training-log-list" placeholder="請輸入"/>
                                                </div>
                                                <button class="btn btn-primary" id="filter-log" data-table="training-log-list" type="button">過濾</button>
                                            </div>
                                        <!-- </div> -->
                                        <!-- <div class="row"> -->
                                            <!-- <div class="col-md-12"> -->
                                                <table id="training-log-list" class="CSI-table table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>日期</th>
                                                                <th>工作區</th>
                                                                <th>語句</th>
                                                                <th>原始意圖</th>
                                                                <th>修改後意圖</th>
                                                                <th>修改者</th>
                                                            </tr>
                                                        </thead>
                                                    <tbody id="show-training-log"></tbody>
                                                </table>
                                            <!-- </div> -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- 花費頁面 -->
                    <div id="usage-content" class="content CSI-d-none">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header with-border form-inline CSI-center">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <label for="month" class="sr-only">選擇月份</label>
                                                <input class="form-control month-picker" id="time-input" type="text" placeholder="請選擇月份">
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="button" id="get-daily-usage">查詢</button>
                                    </div>
                                    <div id="usage-body" class="box-body CSI-d-none">
                                        <!-- <div class="row form-inline ">
                                            <div class="col-md-12 CSI-time-input">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <label for="month" class="sr-only">選擇月份</label>
                                                        <input class="form-control month-picker" id="time-input" type="text" placeholder="請選擇月份">
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary" type="button" id="get-daily-usage">查詢</button>
                                            </div>
                                        </div> -->
                                        <div class="nav-tabs-custom">
                                            <ul id="usage-list" class="nav nav-tabs"></ul>
                                            <div id="usage-pane" class="tab-content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- 表格上傳頁面 -->
                    <div id="file-import-content" class="content CSI-d-none">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="selectWorkspace">選擇工作區(workspace)</label>
                                            <select id="file-upload-workspaces" class="form-control"></select>
                                        </div>
                                        <div class="form-group">
                                            <label for="excelFile">選擇檔案</label>
                                            <input id="upload-file" type="file" accept=".csv,.xls,.xml,,.xlsx"/>
                                        </div>
                                        <!-- <div class="dragandrophandler" id="fileDiv" style="display: block;">
                                            <p align="center">請拖拉檔案至此或直接點擊後選擇檔案</p>
                                            <div class="form-row" id="filesEdit"></div>
                                            <input id="deliveryMethod" type="hidden" value="general">
                                        </div> -->
                                    </div>
                                    <div class="box-footer">
                                        <button id="submit-file" type="upload-file" class="btn btn-primary">上傳</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="CSI-footer">Copyright © 2017 AdminLTE.IO All rights reserved.Version 2.4.7</div>
            </div>
        </div>

        <!-- jQuery 3 -->
        <script src="../scripts/admin-lte/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="../scripts/admin-lte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- DataTables -->
        <script src="../scripts/admin-lte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../scripts/admin-lte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <!-- moment.js -->
        <script src="../scripts/admin-lte/bower_components/moment/min/moment.min.js"></script>
        <script src="../scripts/admin-lte/bower_components/moment/locale/zh-tw.js"></script>
        <!-- AdminLTE App -->
        <script src="../scripts/admin-lte/dist/js/adminlte.min.js"></script>
        <!-- D3.js charts -->
        <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
        <!-- js-xlsx -->
        <script type="text/javascript" src="../scripts/xlsx/dist/xlsx.full.min.js"></script>
        <!-- bootstrap datetimepicker -->
        <script src="../scripts/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <!-- bootstrap select -->
        <script src="../scripts/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="../scripts/bootstrap-select/dist/js/i18n/defaults-zh_TW.min.js"></script>
        <script type="text/javascript" src="../js/home.js"></script>
    </body>
</html>
