<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> <%= title %> </title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="../scripts/admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="../scripts/admin-lte/bower_components/font-awesome/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="../scripts/admin-lte/bower_components/Ionicons/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="../scripts/admin-lte/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="../stylesheets/home.css">
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    </head>
    <body class="hold-transition login-page">
        <div class="login-box box">
            <div class="login-logo">
                <span><b>Login</b></span>
            </div>
            <div class="login-box-body">
        
                <div class="form-group">
                    <select id="region" class="form-control">
                        <option value="">---請選擇地區---</option>
                        <option value="us-south">美國南部(US South)</option>
                        <option value="au-syd">雪梨(Sydney)</option>
                        <option value="eu-de">德國(Germany)</option>
                        <option value="eu-gb">英國(United Kingdom)</option>
                    </select>
                </div>
            
                <div class="form-group has-feedback">
                    <input type="email" id="name" class="form-control" placeholder="輸入帳號">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
            
                <div class="form-group has-feedback">
                    <input type="password" id="password" class="form-control" placeholder="輸入密碼">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
            
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" id="submit" class="btn btn-primary btn-block btn-flat">登入</button>
                    </div>
                </div>
            </div>

            <div id="loading" class="overlay CSI-d-none">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
        
        <!-- jQuery 3 -->
        <script src="../scripts/admin-lte/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="../scripts/admin-lte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/login.js"></script>
    
    </body>
</html>