
.CSI-d-none {
    display: none !important;
    visibility: hidden !important;
}

.CSI-btn-style {
    width: 150px;
    height: 150px;
    margin: 15px;
}

.CSI-list-style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-blue {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

#tooltip {
    position:absolute;
    border:1px solid #333;
    background:#f7f5d1;
    padding:3px;
    color:#333;
    display:none;
    z-index:10010;
    min-width:220px; 
    word-break:keep-all;
}

.CSI-wait {
    cursor: wait !important
}
/* 
.pie-chart-size {
    height: 200px;
}

.line-chart-size {
    height: 400px;
} */

.CSI-footer {
    position: absolute;
    bottom: 1%;
    right: 1%;
    color: white;
    font-size: 12px;
}

.PSC.CSI-input {
    width: 100%;
}

.dragandrophandler {
	margin: auto;
	margin-top: 30px;
	position: relative;
	min-height: 100px;
	max-height: 189px;
	min-width: 100px;
	max-width: 285px;
	width: inherit;
	border-radius: 6px;
	background-color: #FDFDFD;
	background-color:#F5F5F5;
	border: 1px dashed #CCC;
	padding: 20px;
}

.CSI-center {
    text-align: center;
}

.PSC.CSI-block {
    display: block;
}

#watson-history-list td, #training-log-list td{
    vertical-align: middle;
}

.pie-color-block {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}